---
layout: print
permalink: /print
---

{% assign data_source = page.data_source | default: 'data' %}
{% assign resume = site.data[data_source] %}


{% include career-profile.html %}

{% unless resume.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include grade.html %}

{% include experiences.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include publications.html %}

{% include recommendations.html %}

{% include skills.html %}
